.btnCancelar {
    color: #86d9ca;
    background-color: #16181d;
    font-size: 1rem;
    border-radius: 5px;
    padding: 0.675rem;
    cursor: pointer;
    margin: 10px;
    border: 1px solid transparent;
}

.btnCancelar:hover {
    border: 1px solid #fff;
}
