.gridTitulo {
    display: grid;
    margin: 0 auto 15px auto;
    align-items: center;
    width: 600px;
    padding-top: 20px;
}

.labelTitulo {
    margin-bottom: 10px;
    color: #F6F7F9;
    font-size: 1rem;
}

.inputTitulo {
    padding: 0.325rem 0.465rem;
    border-radius: 5px;
    border: 1px solid #e5e7eb;
    margin-bottom: 10px;
}
